---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main";
---

<Layout title="Revenues calculator">
  <main>
    <h1><span class="text-gradient">Revenues</span> Calculator</h1>
    <Main client:load />
  </main>
</Layout>