---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main";
---

<Layout title="Revenues calculator">
  <main class="container flex flex-col items-center px-4 py-16 pb-24 mx-auto text-center lg:pb-56 md:py-32 md:px-10 lg:px-32">
    <h1 class="text-4xl font-bold leading-none sm:text-5xl"><span>Revenues</span> Calculator</h1>
    <Main client:load />
  </main>
</Layout>