---
---
<div>
  <form method="POST">
    <label>What's the price? <input type="number" name="price" required/></label>
    <label>How many new users? <input type="number" name="newUsers" /></label>
    <label>How many lost users? <input type="number" name="lostUsers"/></label>
    <button type="submit">Compute</button>
  </form>
</div>